*{
    margin: 0;
    padding: 0;
}
section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.iframe{
    margin-top: 5%;
    margin-left: 5%;
}
.iframe h2{
    text-align: center;
}
iframe{
    margin: 7px;
}
form{
    height: 450px;
    width: 600px;
    margin-right: 5%;
    margin-top: 5%;
}
form h1{
    text-align: center;
}
input{
    margin: 8px;
    width: 590px;
    height: 40px;
    border: solid 1px rgba(0, 0, 0, 0.606);
    border-radius: 5px;
}
input[type=submit]{
    background: red;
    color: white;
    font-size: 21px;
    border: none;
    border-radius: 5px;
}
textarea{
    width: 590px;
    margin: 7px;
    border-radius: 5px;
}
fieldset{
    border-radius: 7px;
}