*{
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    justify-content: space-between;
   
}
li{
  list-style: none;  

}
a{
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    color: black;
}
nav h1{
    font-size: 35px;
}
button{
    background-color: red;
    padding: 10px;
    border: none;
}
span{
    color: red;
}
