*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    justify-content: space-between;
} 

li{
  list-style: none;  

}
a{
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    color: black;
}
nav h1{
    font-size: 35px;
}
button{
    background-color: red;
    padding: 10px;
    border: none;
}
span{
    color: red;
}


section .part{
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .part1{
margin-top: 10%;
margin-left: 7%;
}

.part1 h1{
    margin-top: 15px;
}

.part1 p{
    margin-top: 15px;
}


.part1 button{
    margin-top: 15px;
    color: white;
}

section .part2{
    margin-top: 10%;
margin-right: 10%;
   
}

